@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.main {
    background: #f8f9fa;
    display: grid;
    height: 100vh;
    padding: 16px;
    place-items: center;
    width: 100%;
}

.container {
    max-width: 1399px;
    margin: auto;
}

.grid_cards {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.card_ui {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    transition: .3s ease;
}

.card_ui:hover {
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
    transform: translateY(-10px);
}

.car_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.car_header_status {
    display: flex;
    gap: 10px;
}

.status_rating {
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    padding: 5px;
}

.status_rating_star {
    color: #ffba1e;
}

.status_rating_number_comments {
    color: #7f8388;
}

.status_disponibility {
    border-radius: 10px;
    padding: 5px 12px;
}

.status_available {
    background: rgb(15 167 35 / 10%);
}

.status_not_available {
    background: rgb(201 11 11 / 10%);
}

.status_available span {
    color: #0fa723;
}

.status_not_available span,
.button_like:hover i,
.like_icon {
    color: #c90b0b;
}

.button_like {
    background: none;
    border: none;
    height: 32px;
    width: 32px;
}

.button_like i {
    font-size: 1.25rem;
}

.like_icon {
    animation: animateHeart .5s ease;
}

@keyframes animateHeart {
    0% {
        transform: scale(1);
    } 33% {
        transform: scale(1.3);
    } 66% {
        transform: scale(0.7);
    } 100% {
        transform: scale(1);
    }
}

.car_body_img_container {
    padding: 32px 0px;
}

.car_img_content_link:hover img {
    filter: drop-shadow(0px 10px 60px rgb(0 0 0 / 30%));
}

.car_img_content {
    display: flex;
    justify-content: center;
}

.car_img_content img {
    width: 80%;
    transition: .3s ease;
}

.car_name {
    color: #7f8388;
}

.car_model_link:hover .car_model {
    color: #c90b0b;
}

.car_model {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.car_price_container,
.car_list_characteristics li {
    align-items: center;
    display: flex;
    gap: 10px;
}

.car_price_container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.car_price {
    white-space: nowrap;
}

.car_price_time {
    color: #7f8388;
}

.car_footer {
    border-top: 2px solid rgb(162 166 171 / 20%);
    margin-top: 16px;
    padding-top: 16px;
}

.car_list_characteristics {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.car_list_characteristics li {
    list-style: none;
    overflow: hidden;
}

.car_list_characteristics li span {
    color: #7f8388;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .main {
        height: auto;
    }

    .grid_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .grid_cards {
        grid-template-columns: 1fr;
    }
}

