.menu{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94vh;
}

.logo{
  text-align: center;
  padding: 20px;
  color: #27474d;
  display: flex;
  gap: 20px;
}

.logo-icon{
  font-size: 2.4rem;
}

.menu--list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu--list .item{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  color: #27474d;
  transition: 0.3s ease-in-out;
  color: #27474d;
}

.menu--list .item:hover{
  background-color: #27474d;
  color: #dde6ed;
}  

.dashboard{
  display: flex;
  gap: 20px;
}

.dashboard--content{
  background: #fff;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}